name: Collect Proxies
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Collect and Filter Vless
        run: |
          SOURCE_FILE=$(ls | grep -i "links.txt" | head -n 1)
          rm -f all_proxies.yaml temp.txt
          
          # 1. Заголовок БЕЗ отступов
          echo "proxies:" > all_proxies.yaml
          
          # 2. Собираем все ссылки
          while IFS= read -r url || [ -n "$url" ]; do
            clean_url=$(echo "$url" | tr -d '\r' | xargs)
            [[ -z "$clean_url" || "$clean_url" == "#"* ]] && continue
            curl -sL --max-time 15 "$clean_url" >> temp.txt
            echo "" >> temp.txt
          done < "$SOURCE_FILE"
          
          # 3. Чистим: только vless, уникальные, ровно 2 пробела и дефис перед ссылкой
          sed -i 's/vless:/\nvless:/g' temp.txt
          grep -oE "vless://[a-zA-Z0-9./?#=&@:_%+-]+" temp.txt | sort -u | head -n 30000 | sed 's/^/  - /' >> all_proxies.yaml
          
          rm -f temp.txt

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add all_proxies.yaml
          git commit -m "Update proxies $(date)" || exit 0
          git push


