name: Collect Proxies
on:
  schedule:
    - cron: '0 * * * *' # Запуск каждый час
  workflow_dispatch: # Позволяет запустить вручную

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Collect all proxies
        run: |
          rm -f all_proxies.txt
          while IFS= read -r url; do
            curl -sL "$url" >> all_proxies.txt
            echo "" >> all_proxies.txt
          done < links.txt

      - name: Commit and Push
        run: |
          git config --global user.name "Robot"
          git config --global user.email "robot@github.com"
          git add all_proxies.txt
          git commit -m "Update proxies" || exit 0
          git push
