name: Subconverter Filter

on:
  workflow_dispatch:

jobs:
  filter_vless_reality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Проверяем исходный файл
        run: |
          echo "Используем файл: VlessLinks.txt"
          grep -iE 'vless://|reality://' VlessLinks.txt > raw_filtered.txt
          echo "Фильтрация завершена. Результат в raw_filtered.txt"

      - name: Вывод первых 10 строк для проверки
        run: |
          echo "Проверяем результат:"
          head raw_filtered.txt
